{
  "presets": [
    "react-native"
  ],
  "env": {
    "development": {
      "presets": [
        "power-assert"
      ]
    },
    "production": {
      "plugins": [
        "unassert"
      ]
    }
  }
}
